// Define primary and secondary colors for consistency
$primary-color: #4CAF50; // Example primary color
$secondary-color: #ff5722; // Example secondary color

// Fallback colors
$primary-background-color: #2E2E2E;
$secondary-background-color: #242424;
$primary-font-color: white;
$secondary-font-color: #C9C9C9;
$tertionary-font-color: #AEAEAE;
$highlight-font-color: white;
$text-shadow: 1.5px 1.5px 2px rgba(17, 17, 17, .25);

$primary-background-color: #ffffff;
$secondary-background-color: #EBEBEB;
$primary-font-color: black;
$secondary-font-color: #3b3b3b;
$tertionary-font-color: #424242;
$highlight-font-color: #222288;
$text-shadow: 1.5px 1.5px 1px rgba(0,0,0, .15);

// Mixins for dark and light modes
@mixin darkMode() {
    --primary-background-color: #2E2E2E;
    --secondary-background-color: #242424;
    --primary-font-color: white;
    --secondary-font-color: #C9C9C9;
    --tertionary-font-color: #AEAEAE;
    --highlight-font-color: white;
    --text-shadow: 1.5px 1.5px 2px rgba(17, 17, 17, .75);
    --primary-color: $primary-color;
    --secondary-color: $secondary-color;
}

@mixin lightMode() {
    --primary-background-color: #ffffff;
    --secondary-background-color: #EBEBEB;
    --primary-font-color: black;
    --secondary-font-color: #3b3b3b;
    --tertionary-font-color: #424242;
    --highlight-font-color: #222288;
    --text-shadow: 1.5px 1.5px 1px rgba(0,0,0, .15);
    --primary-color: $primary-color;
    --secondary-color: $secondary-color;
}

// Defaults to light theme
:root {
    @include lightMode();
}

// If user's system preference is dark theme
@media (prefers-color-scheme: dark) {
    :root {
        @include darkMode();
    }
}

// If user wants to force light theme
:root[color="light"] {
    @include lightMode();
}

// If user wants to force dark theme
:root[color="dark"] {
    @include darkMode();
}

.text-container {
    text-align: center;
    padding: 5px;

    h3, h4, p, ul, li {
        color: var(--primary-font-color);
    }
}
